<% items.each do |item| %>
<li>
  <span class="post-date"><%= item.pubDate.strftime("%d/%m/%Y %H:%M") %></span>
  <a href="<%= item.link %>" title="<%= item.title %>"><%= item.title %></a>
  <p><%= item.description %></p>
</li>
<% end %>
